{% assign sidebar = site.data.sidebars[page.sidebar].entries %}

<ul id="mysidebar" class="nav">
  <li class="sidebarTitle">{{sidebar[0].product}} {{sidebar[0].version}}</li>
  {% for entry in sidebar %}
  {% for folder in entry.folders %}
  {% if folder.output contains "web" %}
  {% for folder_title in folder.title %}
  <li>
      <a href="#">{{ folder_title }}</a>
      <ul>

        {% for pages in site.pages %}
        {% for sidebar_folder in pages.sidebar_folder %}
        {% if sidebar_folder == folder.title %}
        {% assign language = entry.language%}
        {% if language == pages.language %}
        {% assign clean_url = page.url | remove: "/" %}
        {% if pages.sidebar_folder[1] == folder_title %}

          {% if pages.permalink == clean_url %}
          <li class="active"><a href="{{pages.url | remove: "/" }}">{{pages.sidebar_title}}</a></li>
          {% else %}
          <li><a href="{{pages.url | remove: "/" }}">{{pages.sidebar_title}}</a></li>
          {% endif %}

        {% else %}
          {% if pages.permalink == clean_url %}
          <li class="active"><a href="{{pages.url | remove: "/" }}">{{pages.title}}</a></li>
          {% else %}
          <li><a href="{{pages.url | remove: "/" }}">{{pages.title}}</a></li>
          {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endfor %}

      </ul>
   </li>
      {% endfor %}
      {% endif %}
      {% endfor %}
      {% endfor %}

      <!-- if you aren't using the accordion, uncomment this block:
         <p class="external">
             <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
         </p>
         -->
</ul>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
